
/software/ros2/build
/software/ros2/install
/software/ros2/log
/.vscode

/software/ros2/src/build
/software/ros2/src/install
/software/ros2/src/log

*.dtmp
*.drawio.bkp
*.bkp

*.FCBak
*.FCStd1
*.stl
